@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@* the data will removed if we refresh or re-run without build because temp contains temporary data
<h3>@ViewBag.Name</h3>

<h3>@TempData["Name"]</h3> *@
<p>Use this page to detail your site's privacy policy.</p>
